**/.gradle
**/build
**/out
**/.idea
**/*.iml
**/e2e/ui
**/e2e/src/node_modules
**/e2e/src/wallet
**/e2e/network/channel-artifacts
**/e2e/network/system-genesis-block
**/e2e/network/*.tar.gz
**/e2e/network/*.txt
**/e2e/network/organizations/**/msp
**/e2e/network/organizations/**/ca-cert.pem
**/e2e/network/organizations/**/fabric-ca-server.db
**/e2e/network/organizations/**/IssuerPublicKey
**/e2e/network/organizations/**/IssuerRevocationPublicKey
**/e2e/network/organizations/**/tls-cert.pem
**/e2e/network/organizations/ordererOrganizations/
**/e2e/network/organizations/peerOrganizations/

**/asset/libs/
**/authorization/libs/

